.tg-dashboardbox .dashboard-package { display: flex !important; justify-content: space-around!important; }
.tg-dashboardbox .tg-dashboardtitle {display: flex !important; justify-content: center!important;}
.tg-bannertabs { margin:-615px 0 0 !important;}
.tg-tabnavhold { width:90% !important; }