@media (max-width:1199px){
	.jf-alerthold{width: 100%;}
	.jf-tabgalleryimgs li{width: 20%;}
}
@media (max-width:991px){
	.jf-bannerimg img{
		width: 100%;
		height: auto;
		max-width: 100%;
	}
	.jf-alertholder .jf-alerthold{max-width: none;}
	.jf-openmenu .jf-sidebarwrapper .jf-logo{margin:0; }
	.jf-tabgalleryimgs li{width: 25%;}
	.jf-wrapper{padding-left: 50px;}
	.jf-wrapper .jf-sidebarwrapper{width: 50px;}
	.jf-wrapper.jf-openmenu .jf-sidebarwrapper{width: 270px;}
	.jf-wrapper .jf-logoarea .jf-logoicon{
		left: 50%;
		opacity: 1;
		visibility: visible;
	}
	.jf-wrapper.jf-openmenu .jf-logoarea .jf-logoicon {
		left: -50%;
		opacity: 0;
		visibility: hidden;
	}
}
@media (max-width:800px){}
@media (max-width:767px){
	.jf-dropdowarrow{display: block;}
	.jf-nav{
		width: auto;
		float: right;
	}
	.jf-navigation{
		top: 100%;
		left: 0;
		background: #fff;
		position: absolute;
	}
	.jf-navigation ul{}
	.jf-navigation ul li{
		width: 100%;
		float: left;
		display: block;
	}
	.sub-menu,
	.mega-menu{
		clear: both;
		float: left;
		display: none;
		position: static;
		width: 100% !important;
	}
	.jf-tabgalleryimgs li {width: 33.33%;}
}
@media (max-width:640px){
	.jf-main{padding:25px 20px;}
	.jf-footer{padding:18px 20px;}
	.jf-addnav ul {margin-bottom:20px;}
}
@media (max-width:568px){
	.jf-tabgalleryimgs li {width: 50%;}
}
@media (max-width:480px){
	.jf-btnarea .jf-btn{
		width: 100%;
	}
	.jf-btnarea .jf-btn + .jf-btn{margin:10px 0 0;}
}
@media (max-width:479px){}
@media (max-width:320px){}