*:after,
*:before,
p a,
a,
.jf-socialicons li a,
.jf-roundicontext,
.jf-roundicontext .jf-usericonholder,
.sub-menu,
.mega-menu,
.jf-languagedropdown li,
.jf-searchoptions .form-group .jf-radio input[type=radio] + label,
.jf-dashboardnav > ul > li > a,
.jf-sidebarwrapper,
.jf-wrapper,
.jf-logo,
.jf-wrapper.jf-openmenu .jf-logo img,
.jf-logoicon,
.jf-usernav,
.jf-panel h4,
.jf-bannersuccessstory .jf-next,
.jf-bannersuccessstory .jf-prev,
.jf-newsarticle,
.jf-posttag,
.jf-btn
{
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}